@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cabin", sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

h1 {
  font-weight: bold;
  font-size: 5em;
}

p {
  font-weight: normal;
}
